<ion-content>
  <div class="loading">
    <svg class="" version="1.1" id="preloader" x="0px" y="0px" width="240px" height="120px" viewBox="0 0 240 120">
  
    <path id="loop-normal" class="st1" d="M120.5,60.5L146.48,87.02c14.64,14.64,38.39,14.65,53.03,0s14.64-38.39,0-53.03s-38.39-14.65-53.03,0L120.5,60.5
    L94.52,87.02c-14.64,14.64-38.39,14.64-53.03,0c-14.64-14.64-14.64-38.39,0-53.03c14.65-14.64,38.39-14.65,53.03,0z">
        <animate attributeName="stroke-dasharray" attributeType="XML"
            from="500, 50"  to="450 50"
            begin="0s" dur="4s"
            repeatCount="indefinite"/>
        <animate attributeName="stroke-dashoffset" attributeType="XML"
            from="-40"  to="-540"
            begin="0s" dur="4s"
            repeatCount="indefinite"/>  
    </path>
    
    </svg>
  </div>
</ion-content>
