// SEARCH

.search-card {
  padding-top: 0;

  .search-button {
  
    display: flex;
    align-items: flex-end;
    
    .search-icon {
      margin: -2px;
    }
  }
}


// MAP
.container-map {
  display: flex;
  justify-content: center;

  .map {
    width: 100vw;
    height: 250px;
    margin: 0 10px;
    border-radius: 8px;
  }
}


// RESULTS

p {
  margin: 0;
}

ion-icon {
  margin: 2px 6px 0 0;
}

.flex {
  display: flex;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-20 {
  margin-left: 20px;
}

agm-map {
  margin: 0 5px;

  width: 100vw;
  height: 50vh;
}
