<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Recherche</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <form [formGroup]="searchForm">
          <ion-grid>
            <ion-row>
                <ion-col size="10">
                  <ion-item>
                    <ion-label position="stacked">Code Postal</ion-label>
                    <ion-input formControlName="code_postal" clear-input placeholder="Entrez votre recherche" type="text"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col class="search-button" size="2">
                    <ion-chip>
                      <ion-icon class="search-icon" (click)="getPoi(code_postal)" name="search"></ion-icon>
                      <!-- <ion-label>Default</ion-label> -->
                    </ion-chip>
                </ion-col>

              </ion-row>
          </ion-grid>
        </form>

      </ion-card-content>
    </ion-card>

    <div id="map" class="map"></div>

    <!-- <div class="map"
      leaflet 
      [leafletOptions]="options">
    </div> -->

    <ion-card class="" *ngFor="let poi of pois">
      <ion-card-header>
        <ion-card-subtitle>{{ poi.properties.nom }}</ion-card-subtitle>
        <p>{{ transformType(poi.properties.type_detail) }}</p>

        <div class="margin-top-10" *ngIf="poi.properties.adresse">
          <div class="flex">
            <ion-icon name="pin"></ion-icon>
            <p>{{ poi.properties.adresse }}</p>
          </div>
          <p class="margin-left-20">{{ poi.properties.commune }}</p>
        </div>

        <div class="flex margin-top-10" *ngIf="poi.properties.ouverture">
          <ion-icon name="clock"></ion-icon>
          <p>{{ poi.properties.ouverture }}</p>
        </div>

        <div class="flex margin-top-10" *ngIf="poi.properties.telephone">
          <ion-icon name="call"></ion-icon>
          <p>{{ transformTel(poi.properties.telephone) }}</p>
        </div>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>

</ion-content>
